{% extends 'base.html.twig'%}
{% block body %}

    <link href="{{ asset('dashboard/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

<section id="pricing" class="pricing">
    <div class="container">
        <h2>Bienvenue CHEZ nous </h2>
        <h3>TFARHIDA vous souhaite le BIENVENUE</h3>
        <table class="table table-striped bg-light">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
        {% for user in users %}

                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles[0] }}</td>
                </tr>

        {% endfor %}
        </table>

    </div>

</section>


{% endblock %}