{% extends 'base.html.twig' %}
{% block title %}Details{% endblock %}
{% block body %}
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Details</h2>
          <ol>
            <li><a href="index.html">Acceuil</a></li>
            <li>Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="team" class="team ">
        <div class="container">

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4></h4>
                            <span></span>
                            <p><b> NumReservation:</b>  {{ reservation.numreservation }}</p>
                            <p><b>DateReservation: </b> {{ reservation.datereservation|date('Y-m-d') }}</p>
                            <p><b>Observation: </b> {{ reservation.observation }}</p>
                            <p><b>Montant: </b> {{ reservation.montant }}</p>
                            <p><b>NombrePersonne:: </b> {{ reservation.nombrepersonne }}</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

</div>
        </div>
    </section>




{% endblock %}