{{ form_start(form) }}
{{ form_row(form.q) }}

<h5>Categories</h5>
{{ form_row(form.categories) }}

<h5>Prix</h5>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.min) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.max) }}
    </div>
</div>

<button type="submit" class="btn btn-danger w-100">Filtrer</button>
{{ form_end(form) }}