{% extends 'base.html.twig' %}

{% block title %} liste des Produit{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Produits</h2>
                    <ol>
                        <li><a href="/home">modifier</a></li>
                        <li>produit</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->



        <section id="pricing" class="pricing">
            <div class="container">

                {{ form_start(form,{'attr': {'novalidate' : 'novalidate'}} ) }}
                <h3>modifier un produit</h3>


                <div class="form-group">
                    <label for="">Nom de produit</label>
                    {{ form_widget(form.nom) }}
                    {{ form_errors(form.nom) }}
                </div>
                <div class="form-group">
                    <label for="">Quantité</label>
                    {{ form_widget(form.quantite) }}
                    {{ form_errors(form.quantite) }}
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    {{ form_widget(form.description)}}
                    {{ form_errors(form.description) }}
                </div>
                <div class="form-group">
                    <label for="">Photo</label>
                    {{ form_widget(form.image)}}
                    {{ form_errors(form.image) }}
                </div>
                <div class="form-group">
                    <label for="">Prix</label>
                    {{ form_widget(form.prix)}}
                    {{ form_errors(form.prix) }}
                    <br>

                </div>
                {{ form_end(form) }}
            </div>
        </section>


    </main>
{% endblock %}
