{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(f,{'attr': {'novalidate': 'novalidate'}}) }}
    <h2>Ajouter Maison</h2>

    <div class="form-maison">
        <label for="">Nom de Maison d'hote</label>
        {{ form_widget(f.nom) }}
        {{ form_errors(f.nom) }}
    </div>
    <div class="form-maison">
        <label for="">Adresse</label>
        {{ form_widget(f.adresse) }}
        {{ form_errors(f.adresse) }}
    </div>
    <div class="form-maison">
        <label for="">Téléphone</label>
        {{ form_widget(f.tel) }}
        {{ form_errors(f.tel) }}
    </div>
    <div class="form-maison">
        <label for="">Nombre de Chambre</label>
        {{ form_widget(f.nbr_chambre)}}
        {{ form_errors(f.nbr_chambre) }}
    </div>
    <div class="form-maison">
        <label for="">Photo</label>
        {{ form_widget(f.photo)}}
        {{ form_errors(f.photo) }}
    </div>
    <div class="form-maison">
        <label for="">Description</label>
        {{ form_widget(f.description)}}
        {{ form_errors(f.description) }}
        {{ form_end(f) }}
    </div>

    <div class="justify-content-lg-center"></div>

{% endblock %}
