{% extends 'base.html.twig' %}

{% block title %}Maison d'Hote{% endblock %}

{% block body %}
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/modal.jss') }}"></script>
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #f5f5f5; padding: 2px 6px; }
</style>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

</head>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Maison d'hôte</h2>

                        <nav class="nav-menu d-none d-lg-block">
                            <ul>
                                <li class="drop-down"><i class="icofont-navigation-menu"></i>
                                    <ul>
                                        <li class="current first"><a href="{{ path('mais',{'id':maison.id}) }}">Voir chambres</a></li>
                                        {% if is_granted('ROLE_HEBERGEUR') %}  <li class="current_ancestor"><a href="{{ path('add',{'id':maison.id}) }}">Ajouter Chambre</a></li>
                                        <li class="current_ancestor"><a href="{{ path('u',{'idM':maison.id}) }}">Modifier Maison</a></li>{% endif %}
                                    </ul>
                                    {# {{ knp_menu_render('main') }} #}
                                </li>
                            </ul>
                        </nav>
                   </div>
                </div>
           </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="{{ asset('uploads/images/maison/' ~ maison.photo) }}" class="img-fluid" alt="">
                        </div>

                        <h2 class="entry-title">
                            <a href="blog-single.html">{{ maison.nom }}</a>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center"><i class="icofont-key"></i> <a href="blog-single.html">{{ maison.nbrChambre }}</a></li>
                                <li class="d-flex align-items-center"><i class="icofont-map-pins"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{ maison.adresse }}</time></a></li>
                                <li class="d-flex align-items-center"><i class="icofont-phone"></i> <a href="blog-single.html">{{ maison.tel }}</a></li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>
                               Description
                            </p>

                            <blockquote>
                                <i class="icofont-quote-left quote-left"></i>
                                <p>
                                    {{ maison.description }}
                                </p>
                                <i class="las la-quote-right quote-right"></i>
                                <i class="icofont-quote-right quote-right"></i>
                            </blockquote>
                            {% if is_granted('ROLE_HEBERGEUR')  %}
                            <div class="red">
                                <a href="{{ path('d',{'id':maison.id}) }}" title="Supprimer"><i class="icofont-garbage"></i></a>
                            </div>
                            {% endif %}
                        </div>

                    </article><!-- End blog entry -->
                </div>

            </div>
        <div class="blog-comments">
            <h4 class="comments-count">{{ maison.nbrComment }} Commentaires</h4>
            {% for c in comment %}
            <div id="comment-1" class="comment clearfix">
                <img src="assets/img/comments-1.jpg" class="comment-img  float-left" alt="">
                <h5>{{ c.user.username }}</h5>
                <time>{{ c.date | date('Y-m-d') }}</time>
                <p>
                  {{ c.comment }}
                </p>
                <div class="redCom">
                    <a href="{{ path('dComment',{'id':c.id}) }}"><i class="icofont-garbage"> Supprimer</i></a>
                </div>
                {% endfor %}
            </div><!-- End comment #1 -->
        <div class="reply-form">
            <h4>Laisser un commentaire</h4>
            {{ form_start(f,{'attr': {'novalidate': 'novalidate'}}) }}
            <div class="row">
                <div class="form-com">
                    {{ form_widget(f.comment)}}
                    {{ form_errors(f.comment) }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(f) }}
        </div>
        </div>
        </div>
    </section>
</main>
{% endblock %}
