{% extends 'base.html.twig' %}

{% block title %} Panier{% endblock %}

{% block body %}



<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Panier</h2>
                <ol>
                    <li><a href="/home">Acceuil</a></li>
                    <li>Panier</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">




            <div class="row portfolio-container" {% for produit in produits %}>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app" >
                    <div class="portfolio-wrap" >
                        <img src="{{ asset('uploads/images/produit/' ~ produit.image) }}" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>{{ produit.nom }}</h4>
                            <p>{{ produit.prix }}</p>
                            <div class="portfolio-links">
                                <a href="{{ asset('uploads/images/produit/' ~ produit.image) }}"  data-gall="portfolioGallery" class="venobox" title="{{ produit.nom }}"><i class="bx bx-plus"></i></a>
                                <a href="{{ path("voirProduit",{ 'id': produit.id }) }}"  ><i class="bx bxs-right-arrow"></i></a>
                                <a href="{{ path("suppProduit",{ 'id': produit.id }) }}"  ><i class="bx bxs-trash"></i></a>
                                <a href="{{ path("produitPanier",{ 'id': produit.id }) }}"  ><i class="bx bxs-shopping-bag-alt"></i></a>



                            </div>
                        </div>


                    </div >

                </div {% endfor %}>

            </div >






        </div>
    </section><!-- End Portfolio Section -->

</main>



{% endblock %}
